<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Shop Management</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .bottom {
            margin-top: 13px;
            line-height: 12px;
        }
        
        .image {
            display: block;
        }
        
        .image-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        
        .image-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        
        .image-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        
        .image {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>

</head>

<body style="height: 100%;">

    <el-header>
        <div id="navApp">
            <el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect">
                <el-row>
                    <el-col :span="2.5">
                        <el-menu-item index="1">
                            <a href="/"></a>Shop Management System</a>
                        </el-menu-item>
                    </el-col>
                    <el-col :span="2.5">
                        <el-menu-item index="2" disabled>Login</el-menu-item>
                    </el-col>
                    <el-col :span="5" :offset="15" style="margin-top: 10px;">
                        <el-input placeholder="Which item are you looking for?" v-model="input" size="small" clearable>
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                </el-row>
            </el-menu>
        </div>
    </el-header>

    <el-container style="height: 100%;">
        <el-aside width="200px" style="height: 100%;">
            <span id="sideBarApp" style="height: 100%;">
                <el-col :span="3" style="height: 100%;">
                    <el-menu default-active="activeIndex">
                        <el-menu-item index="1">
                            <i class="el-icon-menu"></i>
                            <span slot="title">HomePage</span>
            </el-menu-item>
            <el-menu-item index="2">
                <i class="el-icon-document"></i>
                <span slot="title">Add new item</span>
            </el-menu-item>
            <el-menu-item index="3" disabled>
                <i class="el-icon-setting"></i>
                <span slot="title">My Account</span>
            </el-menu-item>
            </el-menu>
            </el-col>
            </span>
        </el-aside>


        <el-container>
            <el-main>
                <el-row :gutter="20">
                    <ul id="goodsList" style="list-style-type:none;">
                        <li v-for="item in items">
                            <el-col :span="6">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                                    <img :src="item.item_image_url" class="image" :title="item.title">

                                    <div style="padding: 14px;">
                                        <h4 style="text-align: center; margin-top:5px; margin-bottom:5px;">{{ item.title }}</h4>
                                        <div style="text-align: center;">Price: {{ item.price }}</div>
                                        <div>{{ item.description }}</div>
                                        <div class="bottom">
                                            <el-row>
                                                <el-col :span="2" :offset="3">
                                                    <el-button type="danger" icon="el-icon-delete" @click="deleteItem" :id="item.id" circle></el-button>
                                                </el-col>
                                                <el-col :span="2" :offset="13">
                                                    <el-button type="primary" icon="el-icon-edit" @click="dialogVisible=true;currentItem=JSON.parse(JSON.stringify(item))" circle></el-button>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </div>
                                </el-card>
                            </el-col>
                        </li>

                        <el-dialog id="editForm" title="Edit item" :visible.sync="dialogVisible" width="40%" :before-close="handleClose">
                            <el-form :model="currentItem" :rules="rules" ref="currentItem" label-width="80px">
                                <el-upload class="image-uploader" action="/uploadImage" name="image" :show-file-list="false" :on-success="handleUploadSuccess" :before-upload="beforeUpload">
                                    <img v-if="currentItem.item_image_url" :src="currentItem.item_image_url" class="image">
                                    <i v-else class="el-icon-plus image-uploader-icon"></i>
                                </el-upload>

                                <el-form-item label="Title" prop="title">
                                    <el-input v-model="currentItem.title"></el-input>
                                </el-form-item>
                                <el-form-item label="Price" prop="price">
                                    <el-input type="float" v-model="currentItem.price"></el-input>
                                </el-form-item>
                                <el-form-item label="Description" prop="description">
                                    <el-input type="textarea" v-model="currentItem.description"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button @click="dialogVisible = false">Cancel</el-button>
                                    <el-button type="primary" @click="dialogVisible=false;submitEdit(currentItem)">Submit</el-button>
                                </el-form-item>
                            </el-form>
                        </el-dialog>

                    </ul>
                </el-row>

            </el-main>
        </el-container>
    </el-container>




    <script type="text/javascript">
        var goodsList = new Vue({
            el: '#goodsList',
            data() {
                return {
                    items: [],
                    dialogVisible: false,
                    currentItem: {
                        title: '',
                        description: '',
                        price: '',
                        item_image_url: '',
                        created_at: '',
                        updated_at: ''
                    },
                    rules: {
                        title: [{
                            required: true,
                            message: 'Please enter a title',
                            trigger: 'blur'
                        }, {
                            min: 1,
                            max: 100,
                            message: 'Please keep the length of title less than 100',
                            trigger: 'blur'
                        }],
                        description: [{
                            required: true,
                            message: 'Please enter a description',
                            trigger: 'blur'
                        }, {
                            max: 500,
                            message: 'Please keep the length of description less than 500',
                            trigger: 'blur'
                        }],
                        price: [{
                            required: true,
                            message: 'Please enter a price',
                            trigger: 'blur'
                        }]
                    }
                }
            },
            mounted: function() {
                axios.get('/itemList')
                    .then(res => {
                        this.items = res.data;
                    })
                    .catch(err => {
                        console.error(err);
                    });
            },
            methods: {
                beforeUpload(file) {
                    const isJPG = file.type === 'image/jpeg';
                    const isLt2M = file.size / 1024 / 1024 < 2;

                    if (!isJPG) {
                        this.$message.error('Please upload JPG file only.');
                    }
                    if (!isLt2M) {
                        this.$message.error('Please upload image smaller than 2MB.');
                    }
                    return isJPG && isLt2M;
                },
                handleUploadSuccess(res, file) {
                    const isInvalid = (res === 'File not exists' || res === 'Invalid file');
                    if (!isInvalid) {
                        this.currentItem.item_image_url = 'goodsimg/' + res;
                        this.imageUrl = this.currentItem.item_image_url;
                    }
                },
                submitItemImage: function() {

                },
                submitEdit: function(item) {
                    this.$refs['currentItem'].validate((valid) => {
                        if (valid) {
                            const postInfo = new URLSearchParams();
                            postInfo.append('title', item.title);
                            postInfo.append('description', item.description);
                            postInfo.append('price', item.price);
                            postInfo.append('item_image_url', item.item_image_url);
                            axios.post('/editItem?id=' + item.id, postInfo)
                                .then(res => {
                                    axios.get('/itemList')
                                        .then(res => {
                                            this.items = res.data;
                                        })
                                        .catch(err => {
                                            console.error(err);
                                        });
                                })
                                .catch(err => {
                                    console.error(err);
                                });
                        } else {
                            console.log('error submit!!');
                            alert("Please submit item as requested!")
                            return false;
                        }
                    });
                },
                deleteItem: function() {
                    var currentId = event.currentTarget.id;
                    const postInfo = new URLSearchParams();
                    postInfo.append('targetId', currentId);

                    axios.post('/deleteItem', postInfo)
                        .then(res => {
                            axios.get('/itemList')
                                .then(res => {
                                    this.items = res.data
                                })
                                .catch(err => {
                                    console.error(err);
                                });
                        })
                        .catch(err => {
                            console.error(err);
                        });
                },
                handleClose(done) {
                    this.$confirm('Exit the editing?')
                        .then(_ => {
                            done();
                        })
                        .catch(_ => {});
                },
            }
        })

        var SideBar = {
            data() {
                return {
                    activeIndex: '1'
                };
            },
            methods: {
                handleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                handleClose(key, keyPath) {
                    console.log(key, keyPath);
                }
            }
        }
        var Ctor = Vue.extend(SideBar)
        new Ctor().$mount('#sideBarApp')

        var Nav = {
            data() {
                return {
                    activeIndex: '1',
                    input: ''
                };
            },
            methods: {
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                }
            }
        }
        var Ctor = Vue.extend(Nav)
        new Ctor().$mount('#navApp')
    </script>
</body>

</html>