<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Shop Management</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<el-container>
    <el-header>
        <div id="navApp">
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1">Shop Management System</el-menu-item>
                <el-menu-item index="2" disabled>Login</el-menu-item>
            </el-menu>
        </div>

    </el-header>

</el-container>

<el-container>
    <el-aside width="200px">
        <div id="sideBarApp">
            <el-col :span="3">
                <el-menu default-active="activeIndex" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose">
                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <span slot="title">HomePage</span>
                    </el-menu-item>
                    <el-menu-item index="2" disabled>
                        <i class="el-icon-setting"></i>
                        <span slot="title">My Account</span>
                    </el-menu-item>
                </el-menu>
            </el-col>

        </div>
    </el-aside>
    <el-main>
        <ul id="goodsList">
            <li v-for="item in items">
                item.title
            </li>
        </ul>
    </el-main>
</el-container>


<el-footer>

</el-footer>
</el-container>

<script type="text/javascript">
        var goodsList = new Vue({
            el: '#goodsList',
            data() {
                return {
                    items: []
                }
            },
            mounted: function() {
                axios.get('http://localhost:8080/itemList')
                    .then(res => {
                        this.items = res.data
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },
        })

        var SideBar = {
            methods: {
                handleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                handleClose(key, keyPath) {
                    console.log(key, keyPath);
                }
            }
        }
        var Ctor = Vue.extend(SideBar)
        new Ctor().$mount('#sideBarApp')

        var Nav = {
            data() {
                return {
                    activeIndex: '1'
                };
            },
            methods: {
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                }
            }
        }
        var Ctor = Vue.extend(Nav)
        new Ctor().$mount('#navApp')
    </script>
</body>

</html>